<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-2 col-md-2 col-lg-10 col-xl-10">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase"><em
                                    style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">WELCOME
                                    TO LTI FINANCE</em></h2>
                            <form (ngSubmit)="check()" [formGroup]="accountExistForm" >

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label">EMAIL ADDRESS LINKED TO THE ACCOUNT</label>
                                    <!-- <small class="form-text text-muted"
                                        *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].errors['required']">
                                        Please enter user name.!
                                    </small> -->
                                    <input type="text" id="inputEmailToCheck" class="form-control form-control-lg"
                                        formControlName="EnterEmail" />
                                </div>


                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Check</button>

                            </form>

                        </div>
                        <div>
                            <p class="mb-5"><a routerLink="/login" class="text-white-50 fw-bold">Back to Login</a>
                            </p>
                            <p class="mb-5"><a routerLink="/registration" class="text-white-50 fw-bold">Register as a new user</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>