<h1>Dashboard</h1>
<div class="col-md-6">
    <button><a href="">View ProductList</a></button>
</div>
<div class="col-md-6">
    <button><a href="">View Recent Transaction</a></button>
</div>
<div class="col-md-6">
    <button><a href="">Logout</a></button>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
                <ul>
                    <li>CardId : {{card.cardId}}</li>
                    <li>CardBalence : {{card.cerditBalance}}</li>
                    <li>CardStatus : {{card.cardStatus}}</li>
                    <li>CardValidity: {{card.cardValidity}}</li>
                </ul>
                <ul>
                    <li>CustomerId : {{customerDetails.customerId}}</li>
                    <li>CustomerName : {{customerDetails.customerName}}</li>
                    <li>CustomerEmail : {{customerDetails.customerEmail}}</li>
                    <li>Customerifsecode: {{customerDetails.ifscCode}}</li>
                </ul>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Card Status</h3>
        <h3 *ngIf="cardStatus(); else notActive">Activated</h3>
        <<ng-template #notActive>
            DeActivate
        </ng-template>
    </div>
</div>